img {
    width: 100px
}

body {
    background-image: linear-gradient(#060613, #4285b5);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #000;
    color: #fff;
    font-family: sans-serif, serif, arial;
    text-align: center;
}

a {
    text-decoration: none;
}

