<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% extends 'layout.html' %}

  <h2> select your weapon</h2>
  {% block content %}
    <form action="../../InClassStuff/RockPaperSkizzors/templates/result.html" method="post">
        <label for="rock"><img src="../GameIMages/rock.jpg"></label>
        <input type="submit" id="rock" name="rock"><br>
        <label for="Paper"><img src="../GameIMages/Paper.jpg"></label>
        <input type="submit" id="Paper" name="Paper"><br>
        <label for="Scissors"><img src="../GameIMages/Sissors.jpg"></label>
        <input type="submit" id="Scissors" name="rock"><br>
        <label for="WACK"><img src="../GameIMages/WACK.jpg"></label>
        <input type="submit" id="WACK" name="rock"><br>
    </form>
  {% endblock %}
</body>
</html>